:root {
  --color-background: #262729;
  --color-text: white;
  --color-default-domain-regions-hyperlink: gray;
  --color-default-domain-regions-hyperlink-hover: gray;
  --color-default-domain-terms-text: gray;
  --color-default-domain-terms-hyperlink: gray;
  --color-container-tablet-bar-background: black;
  --color-header-tablet-background: black;
  --color-footer-background: #1b1b1d;
  --color-footer-maf-background: #31261d;
  --color-footer-maf-text: white;
  --color-footer-navigation-border: #3c3d3e;
  --color-footer-navigation-dropdown-background: #242527;
  --color-footer-social-network-background: #474749;
  --color-footer-social-network-text: #1b1b1d;
  --color-heading-highlight: #009ddb;
  --color-hyperlink: #009ddb;
  --color-hyperlink-hover: #009ddb;
  --color-blockquote-cite: #999;
  --color-abbr-border: #999;
  --color-unordered-list-icon: #009ddb;
  --color-hr-border: #474749;
  --color-hr-dashed-border: #515254;
  --color-hr-worded-border: #474749;
  --color-hr-worded-background: #262729;
  --color-table-head-background: #474749;
  --color-table-head-text: white;
  --color-table-border: #474749;
  --color-table-row-odd-background: #262729;
  --color-table-row-even-background: #232426;
  --color-table-plain-border: #232426;
  --color-code-background: #252628;
  --color-code-border: #474749;
  --color-code-text: #e35f5f;
  --color-message-background: #262729;
  --color-message-border: #009ddb;
  --color-message-text: #009ddb;
  --color-message-success-background: #262729;
  --color-message-success-border: #00a98f;
  --color-message-success-text: #009079;
  --color-message-warning-background: #262729;
  --color-message-warning-border: #f79e04;
  --color-message-warning-text: #f79e04;
  --color-message-error-background: #262729;
  --color-message-error-border: #f24444;
  --color-message-error-text: #f24444;
  --color-svg: white;
  --color-svg-fill: #009ddb;
  --color-accordion-border: #474749;
  --color-accordion-header-background: #474749;
  --color-accordion-header-text: white;
  --color-actionable-item-border: #009ddb;
  --color-actionable-item-text: #009ddb;
  --color-actionable-item-default-border: white;
  --color-actionable-item-default-text: white;
  --color-action-default-background: #1a1a1a;
  --color-action-default-border: #1a1a1a;
  --color-action-default-text: white;
  --color-action-default-hover-background: #101010;
  --color-action-default-hover-border: #101010;
  --color-action-default-hover-text: white;
  --color-action-default-outline-border: #1a1a1a;
  --color-action-default-outline-text: white;
  --color-action-default-outline-hover-background: #101010;
  --color-action-default-outline-hover-border: #101010;
  --color-action-default-outline-hover-text: white;
  --color-action-primary-background: #d40f7d;
  --color-action-primary-border: #d40f7d;
  --color-action-primary-text: white;
  --color-action-primary-hover-background: #7f094b;
  --color-action-primary-hover-border: #7f094b;
  --color-action-primary-hover-text: white;
  --color-action-primary-outline-border: #d40f7d;
  --color-action-primary-outline-text: #d40f7d;
  --color-action-primary-outline-hover-background: #7f094b;
  --color-action-primary-outline-hover-border: #7f094b;
  --color-action-primary-outline-hover-text: white;
  --color-action-secondary-background: #d40f7d;
  --color-action-secondary-border: #d40f7d;
  --color-action-secondary-text: white;
  --color-action-secondary-hover-background: #7f094b;
  --color-action-secondary-hover-border: #7f094b;
  --color-action-secondary-hover-text: white;
  --color-action-secondary-outline-border: #d40f7d;
  --color-action-secondary-outline-text: #d40f7d;
  --color-action-secondary-outline-hover-background: #7f094b;
  --color-action-secondary-outline-hover-border: #7f094b;
  --color-action-secondary-outline-hover-text: white;
  --color-action-rewards-background: #00a98f;
  --color-action-rewards-border: #00a98f;
  --color-action-rewards-text: white;
  --color-action-rewards-hover-background: #006556;
  --color-action-rewards-hover-border: #006556;
  --color-action-rewards-hover-text: white;
  --color-action-rewards-outline-border: #00a98f;
  --color-action-rewards-outline-text: #00a98f;
  --color-action-rewards-outline-hover-background: #006556;
  --color-action-rewards-outline-hover-border: #006556;
  --color-action-rewards-outline-hover-text: white;
  --color-action-maf-share-background: #b30d4d;
  --color-action-maf-share-border: #b30d4d;
  --color-action-maf-share-text: white;
  --color-action-maf-share-hover-background: #6b082e;
  --color-action-maf-share-hover-border: #6b082e;
  --color-action-maf-share-hover-text: white;
  --color-action-maf-share-outline-border: #b30d4d;
  --color-action-maf-share-outline-text: #b30d4d;
  --color-action-maf-share-outline-hover-background: #6b082e;
  --color-action-maf-share-outline-hover-border: #6b082e;
  --color-action-maf-share-outline-hover-text: white;
  --color-action-disabled-background: #aaa;
  --color-action-disabled-border: #aaa;
  --color-action-disabled-text: white;
  --color-action-disabled-hover-background: #aaa;
  --color-action-disabled-hover-border: #aaa;
  --color-action-disabled-hover-text: white;
  --color-action-disabled-outline-border: #aaa;
  --color-action-disabled-outline-text: #aaa;
  --color-action-disabled-outline-hover-background: inherit;
  --color-action-disabled-outline-hover-border: #aaa;
  --color-action-disabled-outline-hover-text: #aaa;
  --color-action-showtimes-background: #d40f7d;
  --color-action-showtimes-border: #d40f7d;
  --color-action-showtimes-hover-background: #7f094b;
  --color-action-showtimes-hover-border: #7f094b;
  --color-action-showtimes-cutout: #262729;
  --color-action-showtimes-unavailable-background: transparent;
  --color-action-showtimes-unavailable-border: #aaa;
  --color-action-showtimes-unavailable-color: #aaa;
  --color-action-showtimes-unavailable-hover-background: transparent;
  --color-action-showtimes-span: #f2b7d8;
  --color-action-modifier-background: white;
  --color-action-modifier-border: #ddd;
  --color-action-modifier-text: #009ddb;
  --color-action-modifier-hover-background: #009ddb;
  --color-action-modifier-hover-border: #009ddb;
  --color-action-modifier-hover-text: white;
  --color-action-modifier-invalid-hover-background: white;
  --color-action-modifier-invalid-hover-border: #ddd;
  --color-action-modifier-invalid-hover-text: #009ddb;
  --color-action-hyperlink-text: #d40f7d;
  --color-action-hyperlink-hover-text: #d40f7d;
  --color-action-hyperlink-disabled-text: #aaa;
  --color-action-hyperlink-disabled-hover-text: #aaa;
  --color-blocker-background: rgba(0, 0, 0, 0.8);
  --color-blocker-text: white;
  --color-blocker-content-background: #262729;
  --color-blocker-dismiss-background: rgba(0, 0, 0, 0.35);
  --color-blocker-dismiss-border: rgba(255, 255, 255, 0.15);
  --color-blocker-dismiss-text: white;
  --color-blocker-dismiss-hover-background: #009ddb;
  --color-blocker-processing-background: rgba(0, 0, 0, 0.8);
  --color-blocker-phone-background: rgb(0, 0, 0);
  --color-blocker-phone-content-background: #262729;
  --color-breadcrumb-border: #515254;
  --color-breadcrumb-text: #5c5d5f;
  --color-card-scroller-border: #474749;
  --color-carousel-border: #474749;
  --color-carousel-nav-background: #676767;
  --color-carousel-nav-border: #8d8d8d;
  --color-carousel-nav-active-background: #009ddb;
  --color-carousel-nav-active-border: #40b6e4;
  --color-date-filter-border: #474749;
  --color-date-filter-text: #5c5d5f;
  --color-date-filter-active-text: #009ddb;
  --color-form-input-background: #262729;
  --color-form-input-border: #474749;
  --color-form-input-disabled-background: #353638;
  --color-form-input-disabled-text: #474749;
  --color-form-input-error-background: #9d2c2c;
  --color-form-input-error-border: #f24444;
  --color-form-placeholder-text: #666666;
  --color-form-radio-background: #262729;
  --color-form-radio-border: #5c5d5f;
  --color-form-radio-checked: white;
  --color-form-radio-disabled-background: #353638;
  --color-form-radio-disabled-checked: #5c5d5f;
  --color-form-radio-disabled-text: #5c5d5f;
  --color-form-radio-error-background: #9d2c2c;
  --color-form-radio-error-border: #f24444;
  --color-form-radio-error-checked: #f24444;
  --color-form-checkbox-background: #262729;
  --color-form-checkbox-border: #5c5d5f;
  --color-form-checkbox-checked: white;
  --color-form-checkbox-disabled-background: #353638;
  --color-form-checkbox-disabled-checked: #5c5d5f;
  --color-form-checkbox-disabled-text: #5c5d5f;
  --color-form-checkbox-error-background: #9d2c2c;
  --color-form-checkbox-error-border: #f24444;
  --color-form-checkbox-error-checked: #f24444;
  --color-form-international-telephone-background: #262729;
  --color-form-international-telephone-border: #474749;
  --color-form-pseudo-select-dropdown-background: #262729;
  --color-form-pseudo-select-dropdown-border: #474749;
  --color-form-pseudo-select-dropdown-text: white;
  --color-form-pseudo-select-dropdown-hover-text: #009ddb;
  --color-form-pseudo-multi-select-background: #262729;
  --color-form-pseudo-multi-select-border: #474749;
  --color-form-pseudo-multi-select-text: white;
  --color-form-pseudo-multi-select-dropdown-background: #262729;
  --color-form-pseudo-multi-select-dropdown-border: #474749;
  --color-form-pseudo-multi-select-checked-background: #3c3d3e;
  --color-form-pseudo-multi-select-disabled-background: #353638;
  --color-form-pseudo-multi-select-disabled-text: #474749;
  --color-form-pseudo-multi-select-error-background: #9d2c2c;
  --color-form-pseudo-multi-select-error-border: #f24444;
  --color-form-error-text: #f24444;
  --color-form-error-icon-background: #f24444;
  --color-form-error-icon-text: white;
  --color-form-split-currency-text: #999;
  --color-happy-ticket-border: white;
  --color-happy-ticket-text: white;
  --color-happy-ticket-image-background: #262729;
  --color-happy-ticket-image-border: #262729;
  --color-movie-tag-background: white;
  --color-movie-tag-text: black;
  --color-movie-trailer-background: #474749;
  --color-movie-coming-soon-border: #474749;
  --color-movie-hero-text: white;
  --color-navigation-text: white;
  --color-navigation-hover-text: #009ddb;
  --color-navigation-dropdown-background: black;
  --color-navigation-dropdown-border: #404040;
  --color-navigation-dropdown-text: white;
  --color-navigation-dropdown-hover-text: #009ddb;
  --color-navigation-tertiary-text: white;
  --color-navigation-tertiary-hover-text: white;
  --color-navigation-device-tertiary-text: white;
  --color-navigation-flyout-background: black;
  --color-navigation-flyout-border: #4d4d4d;
  --color-navigation-flyout-muted: gray;
  --color-navigation-flyout-text: white;
  --color-navigation-flyout-locale-background: #474749;
  --color-navigation-flyout-locale-text: white;
  --color-ordering-section-border: #474749;
  --color-ordering-section-upcoming-heading-text: #666;
  --color-pagination-text: #009ddb;
  --color-pagination-active-background: #009ddb;
  --color-pagination-active-text: white;
  --color-pagination-disabled: #5c5d5f;
  --color-password-restrictions-text: white;
  --color-password-restrictions-icon-default: #666;
  --color-password-restrictions-icon-pass: #00a98f;
  --color-password-restrictions-icon-fail: #f24444;
  --color-personalisation-ghost-background: #474749;
  --color-poster-wall-overlay-background: rgba(0, 0, 0, 0.75);
  --color-poster-wall-overlay-text: white;
  --color-poster-wall-overlay-close-background: #009ddb;
  --color-poster-wall-overlay-close-text: white;
  --color-poster-wall-overlay-close-hover-background: #005e83;
  --color-poster-wall-overlay-info-background: #262729;
  --color-poster-wall-overlay-info-text: #009ddb;
  --color-progress-label-text: #666;
  --color-progress-label-text-unit: #444;
  --color-quick-filter-pseudo-multi-select-checked: #d40f7d;
  --color-quick-filter-pseudo-multi-select-toolbar-background: rgba(
    26,
    27,
    29,
    0.925
  );
  --color-quick-filter-pseudo-multi-select-toolbar-border: rgba(
    26,
    27,
    29,
    0.925
  );
  --color-quick-filter-pseudo-multi-select-toolbar-action-outline-border: white;
  --color-quick-filter-pseudo-multi-select-toolbar-action-outline-text: white;
  --color-quick-filter-pseudo-multi-select-toolbar-action-outline-hover-background: white;
  --color-quick-filter-pseudo-multi-select-toolbar-action-outline-hover-text: #1a1b1d;
  --color-book-tickets-background: #1a1b1d;
  --color-book-tickets-text: white;
  --color-range-slider-track-background: #353638;
  --color-range-slider-track-border: #474749;
  --color-range-slider-thumb-background: #004f6e;
  --color-range-slider-thumb-border: #2d2d2f;
  --color-range-slider-thumb-hover-background: #002737;
  --color-ratings-icon: #84754e;
  --color-receipt-prepare-order-bar-background: rgba(71, 71, 73, 0.9);
  --color-receipt-prepare-order-bar-text: white;
  --color-ribbon-background: #327c50;
  --color-ribbon-out-of-stock-background: #f24444;
  --color-ribbon-text: white;
  --color-search-results-heading-border: #515254;
  --color-search-results-url-text: #aaa;
  --color-search-results-highlight-marker-background: black;
  --color-search-results-highlight-marker-text: inherit;
  --color-site-banner-background: #474749;
  --color-site-banner-text: white;
  --color-site-banner-hyperlink: white;
  --color-site-banner-icon: white;
  --color-site-banner-hover-icon: #ccc;
  --color-site-search-background: #262729;
  --color-site-search-caret: #009ddb;
  --color-site-search-tablet-border: black;
  --color-social-networks-text: white;
  --color-special-info-background: transparent;
  --color-special-info-border: #009ddb;
  --color-special-info-text: #009ddb;
  --color-special-info-hover-text: #009ddb;
  --color-special-help-background: #009ddb;
  --color-special-help-text: white;
  --color-special-help-hover-text: white;
  --color-sticky-navigation-border: #515254;
  --color-sticky-navigation-text: #bbb;
  --color-sticky-navigation-hyperlink: white;
  --color-sticky-navigation-hyperlink-hover: #009ddb;
  --color-sticky-navigation-glued-background: #262729;
  --color-tabs-navigation-background: #262729;
  --color-tabs-navigation-hover-text: #009ddb;
  --color-tabs-navigation-selected-border: #474749;
  --color-tabs-article-border: #474749;
  --color-toggle-dashed-background: #262729;
  --color-toggle-dashed-border: #515254;
  --color-toggle-dashed-text: white;
  --color-toggle-dashed-icon: white;
  --color-wallet-balance-background: #474749;
  --color-wallet-balance-text: #009ddb;
  --color-wallet-smallprint-text: #aaa;
  --color-wallet-history-th-background: #262729;
  --color-wallet-history-th-text: white;
  --color-wallet-history-date-background: #009ddb;
  --color-wallet-history-date-text: white;
  --color-wallet-history-date-border: #262729;
  --color-wallet-history-expiry-text: #9d2c2c;
  --color-wallet-history-amount-negative-text: #9d2c2c;
  --color-wallet-history-amount-positive-text: #227121;
  --color-tooltip-background: black;
  --color-tooltip-text: white;
  --color-tooltip-information-background: #646464;
  --color-tooltip-information-text: white;
  --color-booking-order-overlay-header-background: rgba(71, 71, 73, 0.9);
  --color-booking-order-overlay-header-text: white;
  --color-booking-order-overlay-header-icon: white;
  --color-booking-order-overlay-section-background: #262729;
  --color-booking-code-offer-border: #515254;
  --color-booking-transaction-breakdown-border: #515254;
  --color-booking-transaction-breakdown-payment-background: #222325;
  --color-booking-payment-option-border: #515254;
  --color-booking-promotion-ieat-background: #009fe0;
  --color-booking-promotion-ieat-text: black;
  --color-booking-panel-food-and-drinks-border: #474749;
  --color-booking-bank-offers-navigation-background: #313234;
  --color-booking-bank-offers-navigation-border: #474749;
  --color-booking-bank-offers-navigation-selected-border: #d40f7d;
  --color-booking-bank-offers-navigation-hover-border: white;
  --color-booking-bank-offers-navigation-hover-text: white;
  --color-seating-plan-seat-blank: transparent;
  --color-seating-plan-seat-standard: #2bace1;
  --color-seating-plan-seat-standard-bachelor: #f66327;
  --color-seating-plan-seat-vip: #78b587;
  --color-seating-plan-seat-vip-bachelor: #fed354;
  --color-seating-plan-seat-premium: #78b587;
  --color-seating-plan-seat-premium-bachelor: #fed354;
  --color-seating-plan-seat-balcony: #84b0af;
  --color-seating-plan-seat-lounger: #e3933b;
  --color-seating-plan-seat-beanbag: #ba7a7a;
  --color-seating-plan-seat-couch: #9982b2;
  --color-seating-plan-seat-cabana: #71a74d;
  --color-seating-plan-seat-wheelchair: #2bace1;
  --color-seating-plan-seat-drive-in: #dbbb4c;
  --color-seating-plan-seat-preferred-view: #ffcc00;
  --color-seating-plan-seat-sold: #444;
  --color-seating-plan-seat-sold-cross: #000000;
  --color-seating-plan-seat-allocated: #d3187c;
  --color-seating-plan-screen-text: white;
  --color-seating-plan-screen-distance-marker: #474749;
  --color-seating-plan-upsell-background: rgba(27, 27, 29, 0.85);
  --color-seating-plan-upsell-text: white;
  --color-seating-plan-upsell-hyperlink: white;
  --color-seating-plan-upsell-special-help-background: white;
  --color-seating-plan-upsell-special-help-text: #009ddb;
  --color-seating-plan-table-row-background: #262729;
  --color-seating-plan-table-cell-text: #474749;
  --color-seating-plan-table-row-hover-cell-background: #222325;
  --color-seating-plan-table-row-hover-cell-text: white;
  --color-seating-plan-preview-table-row-hover-cell-background: #222325;
  --color-seating-plan-preview-table-row-hover-cell-text: #474749;
  --color-seating-plan-exit-background: #adadad;
  --color-seating-plan-exit-text: white;
  --color-ieat-basket-bar-background: rgba(71, 71, 73, 0.9);
  --color-ieat-basket-bar-text: white;
  --color-ieat-basket-bar-quantity-background: #007eaf;
  --color-ieat-basket-bar-quantity-border: #007eaf;
  --color-ieat-product-heading-text: #009ddb;
  --color-ieat-product-price-label-text: #666;
  --color-ieat-product-price-quantity-text: #d40f7d;
  --color-ieat-product-hover-border: #757577;
  --color-ieat-options-label-border: #474749;
  --color-ieat-options-bar-background: rgba(71, 71, 73, 0.9);
  --color-ieat-options-bar-text: white;
  --color-ieat-highlight-next-keyframe-0-text: white;
  --color-ieat-highlight-next-keyframe-50-text: #d40f7d;
  --color-ieat-highlight-next-keyframe-100-text: white;
  --color-ieat-highlight-choice-keyframe-0-border: #474749;
  --color-ieat-highlight-choice-keyframe-50-border: #d40f7d;
  --color-ieat-highlight-choice-keyframe-100-border: #474749;
  --color-membership-rewards-acquisition-banner-background: #00a98f;
  --color-membership-rewards-acquisition-banner-border: #80d4c7;
  --color-membership-rewards-acquisition-banner-text: white;
  --color-membership-rewards-acquisition-banner-action-background: white;
  --color-membership-rewards-acquisition-banner-action-border: white;
  --color-membership-rewards-acquisition-banner-action-text: #00a98f;
  --color-membership-navigation-grid-border: #474749;
  --color-membership-navigation-grid-text: white;
  --color-membership-navigation-grid-hover-text: white;
  --color-membership-points-balance-progress-label-text: white;
  --color-membership-points-balance-progress-label-text-unit: white;
  --color-membership-points-balance-rewards-background: #00a98f;
  --color-membership-points-balance-rewards-text: white;
  --color-membership-points-balance-maf-background: #b30d4d;
  --color-membership-points-balance-maf-background-curve: #b30d4d;
  --color-membership-points-balance-maf-text: white;
  --color-membership-purchase-history-border: #474749;
  --color-membership-ecard-text: white;
  --color-membership-ecard-rewards-background: #00a98f;
  --color-membership-ecard-maf-background: #b30d4d;
  --color-membership-ecard-maf-digital-delivery-background: white;
  --color-membership-ecard-maf-digital-delivery-text: black;
  --color-membership-rewards-history-item-background: #009ddb;
  --color-membership-rewards-history-item-text: white;
  --color-membership-rewards-history-item-link: #009ddb;
  --color-membership-rewards-history-item-icon-background: white;
  --color-membership-rewards-history-item-icon-border: #009ddb;
  --color-membership-rewards-history-item-points-background: white;
  --color-membership-rewards-history-item-points-border: #009ddb;
  --color-membership-rewards-history-item-points-text: #009ddb;
  --color-membership-rewards-history-item-burned-background: #00a98f;
  --color-membership-rewards-history-item-burned-icon-border: #00a98f;
  --color-membership-rewards-history-item-burned-text: #e6f6f4;
  --color-membership-rewards-history-item-burned-link: #00a98f;
  --color-membership-rewards-history-item-burned-points-background: #59c7b6;
  --color-membership-rewards-history-item-burned-points-border: #00a98f;
  --color-membership-rewards-history-item-burned-points-text: #e6f6f4;
  --color-membership-rewards-items-border: #515254;
  --color-membership-rewards-items-points: #00a98f;
  --color-maf-heading-highlight: #b30d4d;
  --color-maf-unordered-list-icon: #b30d4d;
  --color-maf-hyperlink: #b30d4d;
  --color-maf-hyperlink-hover: #b30d4d;
  --color-maf-table-border: #b30d4d;
  --color-maf-table-head-background: #b30d4d;
  --color-maf-special-info-border: #b30d4d;
  --color-maf-special-info-text: #b30d4d;
  --color-maf-special-help-background: #b30d4d;
  --color-maf-special-help-text: white;
  --color-maf-special-help-hover-text: white;
  --color-maf-message-background: #313234;
  --color-maf-message-border: white;
  --color-maf-message-text: white;
  --color-maf-message-special-help-background: #313234;
  --color-maf-message-special-help-text: white;
  --color-maf-tabs-navigation-hover-text: #b30d4d;
  --color-maf-tabs-navigation-selected-border: #b30d4d;
  --color-maf-tabs-article-border: #b30d4d;
  --color-maf-accordion-border: #b30d4d;
  --color-maf-accordion-header-background: #b30d4d;
  --color-maf-accordion-table-head-background: #b30d4d;
  --color-maf-accordion-table-border: #b30d4d;
  --color-maf-navigation-grid-border: #b30d4d;
  --color-maf-promotion-background: #b30d4d;
  --color-maf-promotion-text: white;
  --color-maf-promotion-unordered-list-icon: white;
  --color-maf-action-modifier-text: #b30d4d;
  --color-maf-action-modifier-hover-background: #b30d4d;
  --color-maf-action-modifier-hover-border: #b30d4d;
  --color-maf-action-modifier-hover-text: white;
  --color-maf-action-modifier-invalid-hover-background: white;
  --color-maf-action-modifier-invalid-hover-border: #ddd;
  --color-maf-action-modifier-invalid-hover-text: #b30d4d;
  --color-maf-pagination-text: #b30d4d;
  --color-maf-pagination-active-background: #b30d4d;
  --color-maf-pagination-active-text: white;
  --color-maf-transactions-balance-value-text: #b30d4d;
  --color-maf-transactions-balance-money-text: white;
  --color-maf-transactions-history-date-background: #b30d4d;
  --color-maf-transactions-history-date-text: white;
  --color-maf-transactions-amount-positive-text: #227121;
  --color-maf-transactions-amount-negative-text: #9d2c2c;
  --color-rewards-heading-highlight: #00a98f;
  --color-rewards-unordered-list-icon: #00a98f;
  --color-rewards-hyperlink: #00a98f;
  --color-rewards-hyperlink-hover: #00a98f;
  --color-rewards-table-border: #00a98f;
  --color-rewards-table-head-background: #00a98f;
  --color-rewards-special-info-border: #00a98f;
  --color-rewards-special-info-text: #00a98f;
  --color-rewards-special-help-background: #00a98f;
  --color-rewards-special-help-text: white;
  --color-rewards-special-help-hover-text: white;
  --color-rewards-message-background: #00a98f;
  --color-rewards-message-border: #00a98f;
  --color-rewards-message-text: white;
  --color-rewards-message-special-help-background: white;
  --color-rewards-message-special-help-text: #00a98f;
  --color-rewards-action-modifier-hover-background: #00a98f;
  --color-rewards-action-modifier-hover-border: #00a98f;
  --color-rewards-action-modifier-invalid-hover-text: #00a98f;
  --color-rewards-tabs-navigation-selected-border: #00a98f;
  --color-rewards-tabs-navigation-hover-text: #00a98f;
  --color-rewards-tabs-article-border: #00a98f;
  --color-rewards-accordion-border: #00a98f;
  --color-rewards-accordion-header-background: #00a98f;
  --color-rewards-navigation-grid-border: #bfeae3;
  --color-rewards-promotion-background: #00a98f;
  --color-rewards-promotion-text: white;
  --color-rewards-promotion-unordered-list-icon: white;
}
